# Project 01 -- [Brandon] [Lee]

**TA Help:** N/A
    
**Collaboration:** N/A

## Question 1

In [1]:
print(7+10)

17

In [ ]:
# This adds 7 and 10 which results in 17

Markdown notes and sentences and analysis written here.

## Question 2

In [ ]:
#Learned how to store data into lists

In [6]:
my_list = [1, 2, 3]

In [7]:
my_list

[1, 2, 3]

In [8]:
print(f'My list is: {my_list}')

My list is: [1, 2, 3]

In [9]:
#Part 1

In [10]:
x = 6

In [11]:
y = 8

In [12]:
z = x * y

In [13]:
print(z)

48

In [14]:
#Part 2

In [15]:
x = z = y = 'peanutbutter'

In [17]:
z

'peanutbutter'

In [ ]:
#Part 3

In [ ]:
# Learned how to make a club sandwich from the site: https://en.wikipedia.org/wiki/Club_sandwich

In [16]:
club_sandwich = ['tomato', 'lettuce', 'bread', 'turkey', 'bacon', 'mayonnaise']

In [18]:
club_sandwich

['tomato', 'lettuce', 'bread', 'turkey', 'bacon', 'mayonnaise']

Markdown notes and sentences and analysis written here.

## Question 3

In [ ]:
# There are two cell tpes: Code and Markdown cells

Markdown notes and sentences and analysis written here.

## Question 4

In [19]:
#Import data set

In [20]:
import pandas as pd

In [21]:
disney= pd.read_csv("/anvil/projects/tdm/data/disney/flight_of_passage.csv")

In [22]:
#Learned how to find the number of rows/columns from: https://sparkbyexamples.com/python/pandas-get-number-of-rows-examples/

In [23]:
#Number of rows in the data set

In [24]:
len(disney)

184818

In [25]:
#Number of columns in the data set

In [26]:
len(disney.columns)

4

In [27]:
#Beginning of the data set

In [28]:
disney.head()

         date             datetime  SACTMIN  SPOSTMIN
0  05/26/2017  2017-05-26 09:06:38      NaN    -999.0
1  05/26/2017  2017-05-26 09:10:11     47.0       NaN
2  05/26/2017  2017-05-26 09:10:12      NaN       5.0
3  05/26/2017  2017-05-26 09:17:09      NaN      60.0
4  05/26/2017  2017-05-26 09:24:07      NaN      60.0

In [29]:
#Last of the data set

In [30]:
disney.tail()

              date             datetime  SACTMIN  SPOSTMIN
184813  12/28/2021  2021-12-28 19:35:47      NaN      90.0
184814  12/28/2021  2021-12-28 19:42:15      NaN      90.0
184815  12/28/2021  2021-12-28 19:48:15      NaN      90.0
184816  12/28/2021  2021-12-28 19:54:10      NaN      90.0
184817  12/28/2021  2021-12-28 19:58:35      NaN      80.0

Markdown notes and sentences and analysis written here.

## Question 5

In [ ]:
# Nothing to do here

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.